*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #f1f5f8;
}

.container{
    margin-top: 100px;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-rows: auto auto auto;
    row-gap: 20px;
}

#value,
h1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100px;
    font-weight: 900;
}

.button-container{
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: auto auto auto;
    column-gap: 20px;
}

.btn{
    font-size: 20px;
    height: 50px;
    width: 100px;
    padding:5px;
    border: 1px solid black;
    border-radius: 5px;
}

.btn:hover{
    border: 1px solid aqua;
    color: white;
    background-color: black;
}